.table-container {
  width: 100%; /* Make the container fill the width of the screen */
}

.table {
  width: 100%; /* Double the width of the table */
  transform: scale(.75); /* Scale the table down to 50% of its original size */
  transform-origin: left top; /* Set the origin of the transformation to the top-left corner */
}