{% extends 'base.html' %}

{% block content %}
{% if session['user'] %}
<h1>Add a new patient</h1>
<a href="{{url_for('patients')}}" class="btn btn-primary" role="button">Back</a>
<br>
<form method="post">
    <div class="form-floating mb-3">
        <input type="text" name="name" placeholder="Name" class="form-control" id="name">
        <label for="name" class="form-label">Please enter your patient's name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" name="age" id="age" class="form-control" placeholder="Age" min="0" max="100">
        <label for="age" class="form-label">Please enter their age (0-100)</label>
    </div>
    <div class="form-floating mb-3">
        <select name="gender" id="gender" class="form-control">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <label for="gender" class="form-label">Please select their gender</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" name="contact" id="contact" class="form-control" placeholder="Email">
        <label for="contact" class="form-label">Please enter their email</label>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="comments"></textarea>
        <label for="floatingTextarea">Comments</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% else %}
{% include 'guest.html' %}
{% endif %}
{% endblock %}
