{% extends 'base.html' %}
{% block content %}
{% if session['user'] %}
<h1>Appointment Scheduling</h1>
<div class="row">
    <div class="col-md-6">
        <div class="text-left">
            <img src="{{ url_for('static', filename='pictures/index4.jpg') }}" alt="Intermediate Image" class="img-fluid mt-4" style="max-width: 300px;">
        </div>
        <p class="text-left">Personalized portal for scheduling appointments</p>
        <p class="text-left">Check scheduled appointments to determine availability</p>
     
    </div>
<form method="post">
    <div class="form-group">
        <strong><label for="patient_id">Patient ID</label> </strong>
        <input type="search" list="patientNames" class="form-control" id="patient_id" name="patient_id" required>
        <datalist id="patientNames">
            {% if patients %}
                {% for patient in patients %}
                    <option value = {{patient["name"]|safe}}></option>
                {% endfor %}
            {% endif %}
        </datalist>
    </div>
    <div class="form-group">
       <strong> <label for="date">Date</label> </strong>
        <input type="date" class="form-control" id="date" name="date" required>
    </div>
    <div class="form-group">
       <strong> <label for="time">Time</label> </strong>
        <input type="time" class="form-control" id="time" name="time" required>
    </div>
    <div class="form-group">
       <strong> <label for="reason">Reason</label> </strong> 
        <textarea class="form-control" id="reason" name="reason" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Schedule Appointment</button>
</form>

<h2>Scheduled Appointments</h2>
<div class="table-container">
<table class="table">
    <thead>
        <tr>
            <th>Patient ID</th>
            <th>Doctor ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>Reason</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
        <tr>
            <td>{{ appointment.patient_id }}</td>
            <td>{{ appointment.doctor }}</td>
            <td>{{ appointment.date.strftime('%Y-%m-%d') }}</td>
            <td>{{ appointment.time }}</td>
            <td>{{ appointment.reason }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% else %}
{% include 'guest.html' %}
{% endif %}
{% endblock %}