{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedFlow</title>
</head>
<div>
    <style>
        /* CSS code to center the header */
        header {
            text-align: center;
        }
    </style>
<body>
    {% block content %}
    <h1>Welcome to MedFlow!</h1>
    <p>This is a website for streamlining medical professional workflow.</p>
    <img src="{{ url_for('static', filename='pictures/index1.jpg') }}" alt="heart monitor from doctor to patient" width="500">
    {% endblock %}
</body>
</div>
</html>
