{% extends 'base.html' %}

{% block content %}
{% if session['user'] %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flatpickr Calendar with Appointments</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <!-- Calendar container -->
  <div class="calendar-container">
    <div id="calendar"></div>
  </div>

  <!-- JavaScript dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>


{% else %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="mt-5">Welcome to MedFlow!</h1>
                <p class="lead">This is a website for streamlining medical professional workflow.</p>
                <img src="{{ url_for('static', filename='pictures/index1.jpg') }}" alt="Heart monitor from doctor to patient" class="img-fluid mt-4" style="max-width: 300px;">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="text-center">
                    <img src="{{ url_for('static', filename='pictures/index2.jpg') }}" alt="Intermediate Image" class="img-fluid mt-4" style="max-width: 300px;">
                </div>
                <h2 class="text-center mt-5">User Management</h2>
                <p class="text-center">Secure user registration and authentication</p>
                <p class="text-center">Role-based access control for doctors, nurses, and PAs</p>
                <p class="text-center">Personalized dashboards with relevant information and tasks</p>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <img src="{{ url_for('static', filename='pictures/index3.jpg') }}" alt="Intermediate Image" class="img-fluid mt-4" style="max-width: 300px;">
                </div>
                <h2 class="text-center mt-5">Patient Management</h2>
                <p class="text-center">Search and access patient profiles</p>
                <p class="text-center">View patient demographics, medical history, and family tracking</p>
                <p class="text-center">Update and manage patient health status</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="text-center">
                    <img src="{{ url_for('static', filename='pictures/index4.jpg') }}" alt="Intermediate Image" class="img-fluid mt-4" style="max-width: 300px;">
                </div>
                <h2 class="text-center mt-5">Appointment Scheduling</h2>
                <p class="text-center">Schedule appointments for patients</p>
                <p class="text-center">View available time slots and confirm appointments</p>
                <p class="text-center">Receive reminders and notifications for upcoming appointments</p>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <img src="{{ url_for('static', filename='pictures/index5.jpg') }}" alt="Intermediate Image" class="img-fluid mt-4" style="max-width: 300px;">
                </div>
                <h2 class="text-center mt-5">Medical Records and Prescription Tracking</h2>
                <p class="text-center">Record medical diagnoses and order laboratory tests, X-rays, and MRIs</p>
                <p class="text-center">Track prescription details and set medication reminders</p>
                <p class="text-center">Access and manage electronic medical records (EMR)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="text-center">
                    <img src="{{ url_for('static', filename='pictures/index6.jpg') }}" alt="Intermediate Image" class="img-fluid mt-4" style="max-width: 300px;">
                </div>
                <h2 class="text-center mt-5">Communication and Collaboration</h2>
                <p class="text-center">Secure messaging system for communication between healthcare professionals</p>
                <p class="text-center">Share patient information and collaborate on treatment plans</p>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <img src="{{ url_for('static', filename='pictures/index7.jpg') }}" alt="Intermediate Image" class="img-fluid mt-4" style="max-width: 300px;">
                </div>
                <h2 class="text-center mt-5">Reporting and Analytics</h2>
                <p class="text-center">Generate analytical reports on patient demographics, appointment trends, and treatment outcomes</p>
                <p class="text-center">Gain insights into medication adherence and identify areas for improvement</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="text-center">
                    <img src="{{ url_for('static', filename='pictures/index8.jpg') }}" alt="Intermediate Image" class="img-fluid mt-4" style="max-width: 300px;">
                </div>
                <h2 class="text-center mt-5">User Settings and Preferences</h2>
                <p class="text-center">Customize app settings and notification preferences</p>
                <p class="text-center">Update user profiles and manage account details</p>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <img src="{{ url_for('static', filename='pictures/index9.jpg') }}" alt="Intermediate Image" class="img-fluid mt-4" style="max-width: 300px;">
                </div>
                <h2 class="text-center mt-5">Intuitive User Interface</h2>
                <p class="text-center">User-friendly interface with a clean and modern design</p>
                <p class="text-center">Follows industry-standard usability guidelines for healthcare applications</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="text-center">
                    <img src="{{ url_for('static', filename='pictures/index10.jpg') }}" alt="Intermediate Image" class="img-fluid mt-4" style="max-width: 300px;">
                </div>
                <h2 class="text-center mt-5">Security and Compliance</h2>
                <p class="text-center">Robust security measures to protect sensitive patient data</p>
                <p class="text-center">Compliant with healthcare regulations, including HIPAA</p>
            </div>
        </div>
    </div>
{%endif%}
{% endblock %}