{% extends 'base.html' %}

{% block content %}
{% if session['user'] %}
<h1>Access Lab Results</h1>
<div class="col-md-6">
    <div class="text-left">
        <img src="{{ url_for('static', filename='pictures/index5.jpg') }}" alt="Intermediate Image" class="img-fluid mt-4" style="max-width: 300px;">
    </div>
    <p class="text-left">Record medical diagnoses and order laboratory tests, X-rays, and MRIs</p>
    <p class="text-left">Track prescribed tests types and dosages</p>
    <p class="text-left">Access and manage electronic medical records (EMR)</p>
</div>
<a href="{{ url_for( 'patient_details', patient_id=session['patient']['name']) }}" class="btn btn-primary"
    role="button">Back</a>
<form method="post">
    <div class="form-floating mb-3">
        <input type="text" name="test_type" placeholder="Test Type" class="form-control" id="test_type">
        <label for="test_type" class="form-label">Please enter your prescribed test type</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" name="dosage" id="dosage" class="form-control" placeholder="dosage">
        <label for="dosage" class="form-label">Dosage (mg)</label>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" name="instructions" placeholder="Leave instructions here"
            id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Instructions</label>
    </div>
    <div class="vstack gap-2 col-md-5 mx-auto"style="padding-bottom: 20px;">
        <!-- <a href="{{url_for( 'patient_details', patient_id=session['patient_id'])}}" class="btn btn-primary" role="button">Save Changes</a> -->
        <button type="submit" class="btn btn-success">Save Changes</button>
        </div> 
</form>

{% if tests %}
<div class="table-responsive fs-2">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Medication</td>
                <td>Dosage (mg)</td>
                <td>Instructions</td>
                <td>Prescribed by</td>
                <td>Date prescribed</td>
            </tr>

            {% for prescription in prescriptions %}
            <tr>
                <td>{{ prescription.medication }}</td>
                <td>{{prescription.dosage}}</td>
                <td>{{prescription.instructions}}</td>
                <td>{{prescription.prescribed_by}}</td>
                <td>{{prescription.prescribed_date}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{%endif%}
{% else %}
{% include 'guest.html' %}
{% endif %}
{% endblock %}