{% extends 'base.html' %}

{% block content %}
{% if session['user'] %}
<h1>View patient lab results</h1>
<a href="{{ url_for( 'patient_details', patient_id=session['patient']['name']) }}" class="btn btn-primary"
    role="button">Back</a>
    <div style="height: 10px;"></div>
<form method="post">
    <div class="form-floating mb-3">
        <input type="text" name="test_type" placeholder="Test Type" class="form-control" id="test_type">
        <label for="test_type" class="form-label">Please enter your prescribed test type</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" name="dosage" id="dosage" class="form-control" placeholder="dosage">
        <label for="dosage" class="form-label">Dosage (mg)</label>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" name="instructions" placeholder="Leave instructions here"
            id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Instructions</label>
    </div>
    <div class="vstack gap-2 col-md-4 mx-auto"style="padding-top: 20px;">
    <button type="submit" class="btn btn-success">Submit</button>
    <div style="height: 5px;"></div>
    </div>
</form>

{% if tests %}
<div class="table-responsive fs-3">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Medication</td>
                <td>Dosage (mg)</td>
                <td>Instructions</td>
                <td>Prescribed by</td>
                <td>Date prescribed</td>
            </tr>

            {% for prescription in prescriptions %}
            <tr>
                <td>{{ prescription.medication }}</td>
                <td>{{prescription.dosage}}</td>
                <td>{{prescription.instructions}}</td>
                <td>{{prescription.prescribed_by}}</td>
                <td>{{prescription.prescribed_date}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{%endif%}
{% else %}
{% include 'guest.html' %}
{% endif %}
{% endblock %}