{% extends 'base.html' %}

{% block content %}
{% if session['user'] %}
<h1>View patient lab results</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a href="{{url_for('lab_tests')}}" class="btn btn-primary"
        role="button">Back</a>
</div>

<div style="height: 10px;"></div>

<form method="post">
    <div class="vstack gap-2 col-md-3 mx-auto" style="padding-top: 20px;">
        <button type="submit" class="btn btn-secondary">Upload PDF</button>
        <div style="height: 5px;"></div>
    </div>
</form>



<div class="table fs-2">
    <table class="table table-striped table-hover" style="margin-left: 75px;">
        <tbody>
            <tr>
                <td>View PDF</td>
            </tr>
            <tr>
                <td><embed src="{{ url_for('static', filename='pdf/results.pdf') }}" width="1000" height="1000" 
                    type="application/pdf" style="margin-left: 75px;"></td>
            </tr>

        </tbody>
    </table>

    {% else %}
    {% include 'guest.html' %}
    {% endif %}
    {% endblock %}