{% extends 'base.html' %}

{% block content %}
{% if session['user'] %}
<h1>Patient Details: {{ patient }}<h1>
    <form method="post">
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="{{url_for('prescriptions')}}" class="btn btn-primary" role="button">View/Add New Perscription(s)</a>
            <a href="{{url_for('lab_tests')}}" class="btn btn-primary" role="button">View Lab Test(s)</a>
            <a href="{{url_for('edit_details')}}" class="btn btn-primary" role="button">Edit Patient's Info</a>
        </div>
        <div style="height: 10px;"></div>
        
    </form>
    <div style="height: 10px;"></div>
<h3>Scheduled Appointments</h3>
<table class="table align-middle table-bordered table-responsive fs-3">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Reason</th>
            
        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
            <tr>
                
                <td>{{ appointment.date.strftime('%Y-%m-%d') }}</td>
                <td>{{ appointment.time }}</td>
                <td>{{ appointment.reason }}</td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
{% include 'guest.html' %}
{% endif %}
{% endblock %}