{% extends 'base.html' %}

{% block content %}
{% if session['user'] %}
<h1>Patient Management</h1> 
<div class="header-content">
    <div class="col-md-6">
      <div class="text-left">
        <img src="{{ url_for('static', filename='pictures/index3.jpg') }}" alt="Intermediate Image" class="img-fluid mt-4" style="max-width: 300px;">
      </div>
      <p class="text-right">Search and access patient profiles</p>
      <p class="text-right">View patient medical history and family tracking</p>
      <p class="text-right">Ease of access to manage patients status</p>
    </div>
  </div>
  
<a href="{{url_for('add_patient')}}" class="btn btn-primary" role="button">Add a Patient</a>

<div class="table-container">
    
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Contact</th>
            <th>Actions</th>
        </tr>
    </thead>
    {% if patients %}
    <tbody>
        {% for patient in patients %}
        <tr>
            <td>{{ patient.name }}</td>
            <td>{{ patient.age }}</td>
            <td>{{ patient.gender }}</td>
            <td>{{ patient.contact }}</td>
            <td>
                <a href="{{ url_for('patient_details', patient_id=patient.name) }}" class="btn btn-primary btn-sm">View Details</a>
                <a href="{{ url_for('delete_patient', patient_id=patient.name) }}" class="btn btn-danger btn-sm">Delete Patient</a>
                
            </td> 
        </tr>
        {% endfor %}
    </tbody>
    {%else%}
    <h2>You currently have no active patients please add some</h2>
    {%endif%}
</table>
</div>
{% else %}
{% include 'guest.html' %}
{% endif %}
{% endblock %}
