{% extends 'base.html' %}

{% block content %}
<h1>Patient Information</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Contact</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for patient in patients %}
        <tr>
            <td>{{ patient.name }}</td>
            <td>{{ patient.age }}</td>
            <td>{{ patient.gender }}</td>
            <td>{{ patient.contact }}</td>
            <td>
                <a href="{{ url_for('patient_details', patient_id=patient._id) }}" class="btn btn-primary btn-sm">View Details</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}