{% extends 'base.html' %}

{% block content %}
{% if session['user'] %}
<h1>Patient Details: {{ patient }}<h1>
<h2>Scheduled Appointments</h2>
<form method="post">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{{url_for('edit_details')}}" class="btn btn-primary" role="button">Edit Patient</a>
    </div>
    
</form>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Reason</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
            <tr>
                {% if appointment.patient_id == patient %}
                <td>{{ appointment.date.strftime('%Y-%m-%d') }}</td>
                <td>{{ appointment.time }}</td>
                <td>{{ appointment.reason }}</td>
                <td><textarea id="notes" name="notes" rows="1" cols="20"></textarea> </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<td>Prescriptions</td>
<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Dosage</th>
            <th>Reason</th>
            <th>Refill Status</th>
        </tr>
    </thead>

</table>
{% else %}
{% include 'guest.html' %}
{% endif %}
{% endblock %}