{% extends 'base.html' %}

{% block content %}
{% if session['user'] %}
<h1>Patient Information</h1>
<a href="{{url_for('add_patient')}}" class="btn btn-primary" role="button">Add a Patient</a>
<div class="table-container">
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Contact</th>
            <th>Actions</th>
        </tr>
    </thead>
    {% if patients %}
    <tbody>
        {% for patient in patients %}
        <tr>
            <td>{{ patient.name }}</td>
            <td>{{ patient.age }}</td>
            <td>{{ patient.gender }}</td>
            <td>{{ patient.contact }}</td>
            <td>
                <a href="{{ url_for('patient_details', patient_id=patient.name) }}" class="btn btn-primary btn-sm">View Details</a>
            </td> 
            <!-- TODO: Add a edit button -->
        </tr>
        {% endfor %}
    </tbody>
    {%else%}
    <h2>You currently have no active patients please add some</h2>
    {%endif%}
</table>
</div>
{% else %}
{% include 'guest.html' %}
{% endif %}
{% endblock %}