{% extends 'base.html' %}

{% block content %}
{% if session['user'] %}
<h1>Access Patients Prescriptions</h1>
<div class="col-md-6">
    <div class="text-left">
        <img src="{{ url_for('static', filename='pictures/index9.jpg') }}" alt="Intermediate Image" class="img-fluid mt-4" style="max-width: 300px;">
    </div>
    <p class="text-left">User-friendly interface with clean and modern design</p>
    <p class="text-left">Follows industry-standard usability guidelines for healthcare applications</p>
</div>
<a href="{{ url_for( 'patient_details', patient_id=session['patient']['name']) }}" class="btn btn-primary" role="button">Back</a>
<br>
<form method="post">
    <div class="form-floating mb-3">
        <input type="text" name="medication" placeholder="Medication" class="form-control" id="medication">
        <label for="medication" class="form-label">Please enter your prescribed medication's name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" name="dosage" id="dosage" class="form-control" placeholder="dosage">
        <label for="dosage" class="form-label">Dosage (mg)</label>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" name="instructions" placeholder="Leave instructions here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Instructions</label>
    </div>
        <div class="form-floating mb-3">
        <textarea class="form-control" name="reason" placeholder="reason" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Reason</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% if prescriptions %}
<div class="table-responsive fs-3">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Medication</td>
                <td>Dosage (mg)</td>
                <td>Instructions</td>
                <td>Reason</td>
                <td>Prescribed by</td>
                <td>Date prescribed</td>
            </tr>
        
            {% for prescription in prescriptions %}
            <tr>
                <td>{{ prescription.medication }}</td>
                <td>{{prescription.dosage}}</td>
                <td>{{prescription.instructions}}</td>
                <td>{{prescription.reason}}</td>
                <td>{{prescription.prescribed_by}}</td>
                <td>{{prescription.prescribed_date}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{%endif%}

{% else %}
{% include 'guest.html' %}
{% endif %}
{% endblock %}