{% extends 'base.html' %}
{% block content %}
<h1>Register</h1>
<form method="post">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.confirm_password.label }}
        {{ form.confirm_password(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.role.label }}
        {{ form.role(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}